/*

.main-image{
	
}


.description > ul {
	list-style-type: none;
	padding: 0;
	margin-top: 90px;
}




*/
#mycontainer{
	display: flex;
	flex-wrap: wrap;
	max-width: 70%;
	margin: auto auto;
	margin-top: 100px;
	background: rgb(230,230,230,.5);
	
}
.description{
	margin: auto auto;
	min-width: 200px;
	overflow: hidden;
}
.main-image{
	margin:auto;
}

.description > ul > li {
	padding: 10px;
	animation-name: slide;
	animation-duration: 3s;
	animation-delay: 2s;
	animation-iteration-count: 1;

}
@keyframes slide {
	from { transform:translateX(5000px); }
	to{ transform: translateX(0px); }
}
.main-image > img {
	border-radius: 50%;
	width: 300px;
	height: 300px;
}

body{
	margin: 0;
}
.mycanvas{
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

/*
	media query for my photo and description to be show properly on small devies
*/
@media screen and (max-width: 1055px){
	.description > ul {
		list-style-type: none;
		text-align: center;
		padding: 0;
	}
}
@media screen and (max-width: 500px){
	.description > ul {
		list-style-type: none;
		text-align: center;
	}
	.main-image > img {
	width: 200px;
	height: 200px;
}
}
.myFixContainer{
	background: rgb(230,230,230,.5);
	margin-top: 40px;
}

#footer{
	background: #000;
	padding: 0 0 30px 0;
	color: #eee;
	font-size: 14px;
}

#footer .footer-top{
	background: #111;
	padding: 60px 0 30px 0;
}
#footer .footer-top .footer-info {
	margin-bottom: 30px;

}
#footer .footer-top .footer-info h3 {
	font-size: 34px;
}

#footer .footer-top .footer-links ul a:hover {
	color: #f4511e;
}
#footer .footer-top .footer-contact {
	margin-bottom: 30px;
}
#footer .footer-top .footer-contact p {
	line-height: 26pc;
}
#footer .footer-top .footer-newsletter {
	margin-bottom:30px;
}
#footer .footer-top .footer-newsletter input[type="email"]{
	border: 0;
	padding: 6px, 8px;
	width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"]{
	background: #f4511e;
	border: 0;
	width: 35%;
	padding: 6px 0;
	text-align: center;
	color: #fff;
	transition: 0.3s;
	cursor: pointer;
}
#footer .footer-top .footer-newsletter input[type="submit"]:hover{
	background: #13a456;

}
#footer .copyright {
	text-align: center;
	padding-top: 30px;

}
#footer-credits {
	text-align: center;
	font-size: 13px;
	color: #ddd;
}