/*

.main-image{
	
}


.description > ul {
	list-style-type: none;
	padding: 0;
	margin-top: 90px;
}




*/
#mycontainer{
	display: flex;
	flex-wrap: wrap;
	max-width: 70%;
	margin: auto auto;
	margin-top: 100px;
	background: rgb(230,230,230,.5);
	
}
.description{
	margin: auto auto;
	min-width: 200px;
}
.main-image{
	margin:auto;
}

.description > ul > li {
	padding: 10px;
	animation-name: slide;
	animation-duration: 3s;
	animation-delay: 2s;
	animation-iteration-count: 1;

}
@keyframes slide {
	from { transform:translateX(5000px); }
	to{ transform: translateX(0px); }
}
.main-image > img {
	border-radius: 50%;
	width: 300px;
	height: 300px;
}

body{
	margin: 0;
}
.mycanvas{
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}
.footer{
	border: 1px solid black;
	min-height: 500px;
	background-image: linear-gradient(to right, black , gray); 
}

/*
	media query for my photo and description to be show properly on small devies
*/
@media screen and (max-width: 1055px){
	.description > ul {
		list-style-type: none;
		text-align: center;
		padding: 0;
	}
}
@media screen and (max-width: 500px){
	.description > ul {
		list-style-type: none;
		text-align: center;
	}
	.main-image > img {
	width: 200px;
	height: 200px;
}
}