#mycontainer{
	display: flex;
	margin-left: 200px;
	margin-top: 100px;
}

.main-image{
	
}
.description{
	padding-left: 100px;
	align-content: center;
}

.description > ul {
	list-style-type: none;
	padding: 0;
	margin-top: 90px;
}

.description > ul > li {
	padding: 10px;
	animation-name: slide;
	animation-duration: 3s;
	animation-delay: 2s;
	animation-iteration-count: 1;

}
.main-image > img {
	border-radius: 50%;
	width: 360px;
	height: 360px;
}

@keyframes slide {
	from { transform:translateX(5000px); }
	to{ transform: translateX(0px); }
}
